html, body {
    overflow-x: hidden;
}
.nowrap {
    white-space: nowrap;
}
.banner{
    display:flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 50px;
    height:450px;
    background:rgb(230, 230, 230);
}
.form-group textarea{
    color:#0f0f0f;  
    font-size:18px;
    font-weight: bold;
}
textarea{
    resize: none !important;
    overflow: auto;
}
h4{
    background-color: rgb(243, 243, 243);
    color:#000000;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
}
.sessoes{
    margin-top:10px;
}
.form-group .titulo{
    margin-top:30px;
}


.castle{
    display: block;
}
.bannertext span{
    color:rgb(0, 0, 0);
    font-size:16px;
}
.bannertext h1{
    margin-top:10px;
    color:rgb(9, 7, 121);
    font-size:37px;
    font-weight: bold;

}
.bannertext p{
    margin-top:-20px;
    font-size:18px;
    color:rgb(0, 0, 0);
}
.bannertext .btn{
    margin:20px 110px;
}
.button{
    border-radius: 35px;
    box-shadow: rgb(187, 187, 187) .75px .75px 7px 1.5px;
}
.button{
    padding:12px;
    font-size:15px;
    font-weight: bold;
    color:white;
    background-color: #dc3545;
}
.solicitar{
    background-color: #dc3545;
    color:rgb(255, 255, 255);
    font-size:16px;
    margin-top:20px;
    padding:16px;
    border-radius:50px;
    border:none;
    text-decoration: none;
    box-shadow: rgb(177, 177, 177) .1px .1px 1px 1px;

}


/*INICIO DA PAGINA DE SERVIÇOS*/
.titulos{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:100%;
    background-color:rgb(240, 240, 240);
    padding-top:60px;
    padding-left: 150px;
    padding-bottom: 60px;
}
.titulos h2{
    font-size: 35px;
    color:rgb(68, 68, 68);
    font-weight:bold;
}
.titulos span{
    font-size: 17px;
    color:rgb(70, 70, 70)
}
hr{
    display: block;
    border: 1px solid rgb(27, 45, 83);
    width:100%;
    text-align:left;
    margin-left:0px;
}
.product-card {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}
.product-textos{
    height: 100%;
    width:100%;
    padding-left: 60px;
}
.product-textos h3{
    font-size: 23px;
}
#product button{
    padding:8px;
    margin-top:3%;
    font-size: 17px;
    background-color:#dc3545;
    border-color: #dc3545;
    border-style: solid;
    color:whitesmoke;
    border-radius:30px; 
    align-items:center;
}
.titulo-sobre{
    justify-content:center;
    text-align:center;
    height:400 px;
    color:rgb(22, 22, 22);
}
.titulo-sobre h1{
    padding-top:30px;
    font-size:40px;
    font-weight:bold;

}
.titulo-sobre p{
    padding:auto 25px;
    font-weight: bold;
    font-size:20px;

}
.titulo-sobre h2{
    width:450px;
    margin-top:90px;
    margin-left:10px;
    padding: 10px;
    font-weight: bold;
    border: 1px solid #fff;

}

.sobre{
    width:100%;
    height:620px;
    display: flex;
}

@media screen and (max-width: 1100px) {
  
    .preview{
        display:none;
    }
    .form-group h3{
        display:none;
    }
    hr{
        display:none;
    }
    table {
        width: 80%;
        table-layout: fixed;
    }
    .thflex{
        display:none;
    }
    .td-image embed{
        width:350px;
    }
    html{
        width: 100%;
    }
    
    table{
        width: 80%;
    }

    tr{width:100%;}

  
}











@media screen and (max-width: 768px) {
    .preview{
        display:none;
    }
    .form-group h3{
        display:none;
    }
   
}

